# Checkpoint & model files
*.ckpt
*.pt
*.pth
*.h5
*.h5ad
*.err
*.out
*.zip

# Data folders
data/
error_and_out/
wandb/
figure/
ckpt/
logs/

# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Virtual environments
env/
venv/
.venv/
